/*
    Banner
    css styles specific to this module only
*/

.banner {
    padding-top: 300px;
    padding-bottom: 20px;
    text-shadow: 1px 1px 7px #000000;
    filter: dropshadow(color=#000000, offx=1, offy=1);
}

.banner h1 {
    padding-top: 60px;
    margin-top: -60px;
}

.banner h1 {
    padding-top: 300px;
    margin-top: -300px;
}

.banner .content {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
}

.section2 {
    margin-bottom: 20px;
    background-image: url('../images/alley.jpg');
    background-position: 49% 49%;
    background-repeat: no-repeat;
    background-size: cover;
}