/*
    Navigation
    css styles specific to this module only
*/

.navigation {
    position: fixed;
    width: 100%;
}

.navigation .content {
    max-width: 960px;
    margin: 0 auto;
}

.navigation ul {
    margin: 0;
    padding: 0;
}

.navigation li {
    display: inline-block;
}

.navigation a {
    display: block;
    padding: 10px 15px 15px 15px;
}